<IfModule mod_security.c>
	SecFilterEngine Off
	SecFilterScanPOST Off
</IfModule>
<IfModule mod_deflate.c>
	SetOutputFilter DEFLATE
</IfModule>

DirectoryIndex index.php
FileETag none
ExpiresByType application/x-shockwave-flash "access plus 52 weeks"

php_value magic_quotes_gpc off
